Path : ${@Path.attribute("value")}
<#list @Path.doc("list:author") as author>
Author : ${author}
</#list>
${@Path.doc()}

<#list @Path.children("@POST", "@GET") as verb>
${verb.name} ${verb.elementName} by ${verb.doc("flat:author")}
<#if verb.sibling("@Consumes")??>
Consumes : ${verb.sibling("@Consumes").attribute("flat:value")}
</#if>
${verb.doc()}
${verb.sibling("@Path").attribute("value")}

Path parameters :
<#list verb.children("@PathParam") as param>
* ${param.attribute("value")} : ${param.doc()}
</#list>

Optional parameters :
<#list verb.children("@QueryParam") as param>
* ${param.attribute("value")} : ${param.doc()}
</#list>

</#list>